* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nvbg {
  background-color: #3e3c3c;
  color: white;
}

.top-contaner {
  max-width: 1350px;
  margin: auto;
  padding: 0 10px 0 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.nav-icon {
  flex: 1;
  text-align: right;
}

.rowcontainer {
  background-color: #1c1a19;
}

.row {
  max-width: 1350px;
  margin: auto;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/Group.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: 120px 210px;
  min-height: 600px;
}

.content {
  margin-top: 120px;
  padding-left: 20px;
}

.headline h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 50px;
}

.supperting-text {
  color: rgb(240, 228, 228);
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

.description {
  color: #fff;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  max-width: 500px;
}

.social {
  margin: 10px 0 0 15px;
}

.social ul li {
  display: inline;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin-top: 15px;
  padding-left: 15px;
}

.main-body {
  display: grid;
  background-color: #fff;
}

.main-row {
  max-width: 1350px;
  margin: 100px auto;
  padding: 0 30px 0 30px;
  min-height: 600px;
}

.main-row h2 {
  font-family: Crete Round, serif;
  font-size: 40px;
}

.h-line {
  margin-top: 40px;
}

.story-section {
  margin-top: 60px;
}

.story-section img {
  width: 295px;
}

.h1-tag h2 {
  font-family: Crete Round, serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main-body p {
  font-family: Inter, serif;
  font-size: 15px;
}

.lang-btn ul {
  display: flex;
}

.lang-btn ul li {
  list-style: none;
}

.lang-btn button {
  background-color: #fff;
  border: 1px solid gray;
  color: #000;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: inter, serif;
  margin-right: 10px;
  margin-top: 10px;
}

.see-prjct-btn button {
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: inter, serif;
  margin-top: 10px;
}

.pro-art-paint {
  margin-top: 20px;
}

.content-data {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Img-Placeholder.png");
  background-repeat: no-repeat, repeat;
  height: 380px;
}

.content-data-btn {
  background-color: #ff6b00;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: inter, serif;
  min-width: 298px;
  margin-top: 10px;
  align-items: flex-end;
}

.content-data h1 {
  font-family: Crete Round, serif;
  color: #fff;
  font-size: 30px;
  margin-top: 90px;
  padding-left: 10px;
}

.content-data p {
  font-family: Inter, serif;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 10px;
}

.lang-btn2 {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 60px 93px auto;
}

.lang-btn2 ul {
  display: flex;
}

.lang-btn2 ul li {
  list-style: none;
  padding-right: 10px;
}

.lang-btn2 button {
  background-color: #000;
  opacity: 40%;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: inter, serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-main {
  color: #ff6b00;
  background-color: #1c1a19;
  min-height: 1100px;
}

.about-me-bg {
  min-height: 500px;
  background-image: url("../images/footer-bg.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: 120px 210px;
}

.about-me {
  background-color: #1c1a19;
  padding: 0 30px 0 30px;
}

.about-me-col h1 {
  color: #ff6b00;
  font-family: Crete Round, serif;
  font-size: 60px;
  font-weight: 400;
  padding-top: 70px;
}

.about-me-col p {
  font-family: Inter, serif;
  font-weight: 200;
  font-size: 14px;
  color: #fff;
}

.about-me-col button {
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  font-family: Inter, serif;
  margin-top: 30px;
  border: none;
}

.footer-nav {
  min-height: 200px;
  color: #fff;
}

.f-line {
  padding: 0 30px;
  margin-top: 10px;
}

.f-lang {
  padding: 80px 30px;
  margin-top: 30px;
  text-align: center;
}

.img-lang {
  display: flex;
  justify-content: center;
}

.img-lang img {
  padding-right: 10px;
  height: 30px;
}

.img-lang h1 {
  font-family: inter, serif;
}

.f-lang ul {
  text-decoration: none;
  list-style: none;
  padding-top: 30px;
}

.f-lang ul li {
  margin-top: 20px;
  font-family: inter, serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.img-frameWorks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-frameWorks h1 {
  font-family: inter, serif;
}

.img-frameWorks img {
  height: 18px;
  padding-right: 20px;
}

.motivation {
  min-height: 250px;
  padding: 50px 30px;
  text-align: center;
}

.motivation p {
  font-family: Inter, serif;
  color: #172b4d;
  font-size: 30px;
}

.form {
  min-height: 300px;
  padding: 50px 30px;
  text-align: center;
}

.form input {
  width: 100%;
  padding: 30px 20px 10px 20px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
}

.form textarea {
  margin-top: 15px;
  border: none;
  background-color: #fbf8f7;
  padding: 15px 0  0 20px;
}

.form button {
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  font-family: Inter, serif;
  margin-top: 30px;
  border: none;
}

.f-social {
  margin: auto;
  align-items: center;
}

.f-social ul {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.f-social ul li {
  display: inline;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin-top: 15px;
  padding-left: 15px;
}

hr.f-line {
  margin: auto;
  width: 100px;
  border: 2px solid black;
  border-radius: 20%;
  margin-bottom: 20px;
}
