* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nvbg {
  background-color: #3e3c3c;
  color: white;
}

.top-contaner {
  max-width: 1350px;
  margin: auto;
  padding: 0 10px 0 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.nav-icon {
  flex: 1;
  text-align: right;
}

.rowcontainer {
  background-color: #1c1a19;
}

.row {
  max-width: 1350px;
  margin: auto;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/Group.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: 120px 210px;
  min-height: 600px;
}

.content {
  margin-top: 120px;
  padding-left: 20px;
}

.headline h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-size: 50px;
}

.supperting-text {
  color: rgb(240, 228, 228);
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

.description {
  color: #fff;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  max-width: 500px;
}

.social {
  margin: 10px 0 0 15px;
}

.social ul li {
  display: inline;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin-top: 15px;
  padding-left: 15px;
}
