* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nvbg {
  background-color: #3e3c3c;
  color: white;
}

.navbar {
  max-width: 100%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.burger-icon {
  display: none;
}

.nav-icon {
  flex: 1;
}

.nav-icon ul {
  display: flex;
  float: right;
  list-style: none;
}

.nav-icon ul li a {
  list-style: none;
  padding-left: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.rowcontainer {
  background-color: #1c1a19;
  background-image: url("../images/Illustration-header.png");
  background-position: right top;
  background-repeat: no-repeat, repeat;
  background-size: 500px 600px;
  height: 560px;
}

.row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 3%;
  padding-top: 150px;
  background-image: url("../images/Group.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  background-size: 120px 210px;
  min-height: 600px;
  transition: background 3s;
}

.content {
  padding: 0 0 0 5px;
  margin: 0 6.5%;
}

.headline h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 50px;
  font-weight: 400;
}

.supperting-text h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  margin-top: 15px;
  font-weight: 500;
  font-size: 32px;
}

.description {
  color: #fff;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  max-width: 500px;
}

.social-d {
  max-width: 50px;
}

.social-d ul {
  display: block;
  margin-top: 60px;
  list-style: none;
}

.social-d ul li {
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin-top: 15px;
}

.social {
  display: none;
}

.heading-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-top: 100px;
  padding: 0 10%;
}

.heading-line h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

.h-line hr {
  width: 750px;
  margin-left: 15px;
}

.story-section {
  display: flex;
  margin-top: 100px;
  padding: 0 10%;
}

.story-image img {
  width: 620px;
  height: 435px;
}

.story-content {
  margin-left: 15px;
}

.h2-tag h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #091e42;
}

.story-content p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #091e42;
}

.lang-btn ul {
  display: flex;
}

.lang-btn ul li {
  list-style: none;
}

.lang-btn button {
  background-color: #fff;
  border: 1px solid gray;
  color: #000;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Inter', serif;
  margin-right: 10px;
  margin-top: 10px;
}

.see-prjct-btn button {
  background: #f55800;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Inter", serif;
  margin-top: 10px;
  font-weight: 700;
}

.see-prjct-btn button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Inter", serif;
  margin-top: 10px;
  font-weight: 700;
}

.footer-main {
  color: #f55800;
  background-color: #1c1a19;
  min-height: 1100px;
  width: 100%;
  padding: 0 10%;
}

.about-me-bg {
  min-height: 500px;
  background-image: url("../images/about-me-bg.png");
  background-position: right, left top;
  background-repeat: no-repeat, repeat;
  background-size: 520px 310px;
  transition: background 3s;
}

.about-me {
  width: 550px;
  text-shadow: 1px 1px #1c1a19;
}

.about-me-col h2 {
  color: #f55800;
  font-family: "Crete Round", serif;
  font-size: 65px;
  font-weight: 400;
  padding-top: 100px;
}

.about-me-col p {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px #252425;
}

.get-resume {
  background-color: #f55800;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Inter", serif;
  margin-top: 40px;
  border: none;
  font-weight: 700;
}

.get-resume:hover {
  background-color: #fff5e1;
  color: #f55800;
  padding: 10px 15px;
  font-size: 15px;
  font-family: "Inter", serif;
  margin-top: 40px;
  border: 1px solid #f55800;
  font-weight: 700;
}

.f-line {
  margin-top: 10px;
}

.footer-nav {
  min-height: 200px;
  color: #fff;
}

.f-lang {
  padding: 80px 0;
  margin: 30px 0;
  display: flex;
}

.languages {
  min-width: 400px;
}

.frameworks {
  min-width: 400px;
}

.skills {
  min-width: 400px;
}

.img-lang {
  display: flex;
}

.img-lang img {
  padding-right: 10px;
  height: 25px;
  margin-top: 5px;
}

.img-lang h2 {
  font-family: 'Inter', serif;
  font-size: 32px;
}

.f-lang ul {
  text-decoration: none;
  list-style: none;
  padding-top: 30px;
}

.f-lang ul li {
  margin-top: 20px;
  font-family: "Inter", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.img-frameWorks {
  display: flex;
  align-items: center;
}

.img-frameWorks h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.img-frameWorks img {
  height: 18px;
  padding-right: 20px;
}

.contact-form-main {
  display: flex;
  padding: 0 10%;
  width: 100%;
  margin-top: 100px;
}

.motivation {
  min-height: 250px;
}

.motivation p {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

input {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 16px;
}

input[name="name"],
input[name="email-address"] {
  width: 600px;
  height: 48px;
}

input:placeholder-shown {
  font-family: "Inter", sans-serif;
  color: #6b778c;
  font-size: 15px;
  line-height: 24px;
}

.form-input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
}

input:focus {
  outline: 1px solid #f55800;
}

textarea {
  color: #3c3a39;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  width: 284px;
  height: 102px;
  padding: 12px;
  background: #fbf8f7;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #3c3a39;
}

textarea:focus {
  outline: 1px solid #f55800;
}

.contact-form ul {
  padding-left: 10px;
  list-style: none;
}

.contact-form ul li {
  padding: 0.7rem;
}

.comment {
  padding-bottom: 0;
}

.submit {
  font-family: "Inter", sans-serif;
  color: #fff;
  background: #f55800;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  margin-bottom: 100px;
}

.submit:hover {
  font-family: "Inter", sans-serif;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  margin-bottom: 100px;
}

.e-mail {
  color: #42526e;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.f-social {
  margin: auto;
  align-items: center;
  height: 70px;
}

.f-social ul {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.f-social ul li {
  display: inline;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin-top: 15px;
  padding-left: 15px;
}

.grit-temp {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 435px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 0 10%;
  margin-top: 10px;
  margin-bottom: 100px;
}

.cart-1 {
  max-width: 370px;
  height: 435px;
  background-image: url("../images/card-1.png");
  background-repeat: no-repeat, repeat;
  border: 1px solid #000;
}

.card-btn {
  height: 58px;
  width: 369px;
  background: #f55800;
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-top: 377px;
}

.card-btn:hover {
  height: 58px;
  width: 369px;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-top: 377px;
}

.cart-2 {
  max-width: 370px;
  height: 435px;
  background-image: url("../images/card-2.png");
  background-repeat: no-repeat, repeat;
}

.cart-2 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 180px;
}

.cart-2 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 10px;
}

.card-btn-off {
  padding-left: 10px;
  margin-top: 40px;
}

.cart-3 {
  max-width: 370px;
  height: 435px;
  background-image: url("../images/card-3.png");
  background-repeat: no-repeat, repeat;
}

.cart-3 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 210px;
}

.cart-3 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 20px;
}

.cart-4 {
  width: 370px;
  height: 435px;
  background-image: url("../images/card-4.png");
  background-repeat: no-repeat, repeat;
}

.cart-4 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 180px;
}

.cart-4 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 10px;
}

.cart-5 {
  width: 370px;
  height: 435px;
  background-image: url("../images/card-2.png");
  background-repeat: no-repeat, repeat;
}

.cart-5 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 180px;
}

.cart-5 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 10px;
}

.cart-6 {
  width: 370px;
  height: 435px;
  background-image: url("../images/card-3.png");
  background-repeat: no-repeat, repeat;
}

.cart-6 h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 210px;
}

.cart-6 p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
  margin-top: 20px;
}

.menu {
  background: #3c3a39;
  color: #fff5e1;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 19px);
  height: 100vh;
}

.menu-items ul li {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #6f6c6b;
  list-style: none;
}

.menu-items ul li a {
  color: #fff5e1;
  text-decoration: none;
}

.close_btn img {
  width: 20px;
  height: 20px;
}

.close_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.invisible {
  display: none;
}

.close_btn:hover,
.burger-icon:hover {
  cursor: pointer;
}

.popup {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.pop-body {
  background-color: #fff;
  margin: 7% 9%;
  padding: 20px 20px;
}

.popheading {
  display: flex;
  justify-content: space-between;
}

.popheading h2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #172b4d;
}

.popheading img {
  width: 15px;
  height: 15px;
  margin: auto 0;
}

.pop-img-p {
  display: flex;
  margin-top: 30px;
}

.paragraph p {
  margin-left: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.popbtn {
  display: flex;
  align-self: flex-end;
  margin: 175px 0 0 15px;
  height: 53px;
}

.popbtn ul {
  list-style: none;
  display: flex;
  height: auto;
}

.popbtn ul li {
  margin-right: 10px;
}

.btn-img {
  margin-left: 15px;
}
